<header id="js-header" class="o-header" role="banner">
  <a href="/" title="{{ drupal_config('system.site', 'name') }}" rel="home" class="o-header__logo" aria-label="Site logo - link to homepage">
    {{ get_icon('logo') }}
  </a>

  <button class="a-nav-toggle" title="Toggle Nav" aria-label="Toggle site navigation">
    <span class="a-nav-toggle__line a-nav-toggle__line-1"></span>
    <span class="a-nav-toggle__line a-nav-toggle__line-2"></span>
    <span class="a-nav-toggle__line a-nav-toggle__line-3"></span>
  </button>

  <nav class="m-main-nav" role="navigation">
    {{ drupal_menu('main', 1, 3, TRUE) }}
  </nav>
</header>

{% include '@pippip/partials/molecules/admin-tabs.twig' %}

<main id="main-content" role="main" class="wrapper wapper--main">
  {% block content %}
    {{ page.content }}
  {% endblock %}
</main>

<footer class="o-footer" role="contentinfo">
  {{ drupal_menu('footer') }}
  <a href="https://un.titled.co.uk" aria-label="An Un.titled Site">An Un.titled Site</a>
</footer>

{# 
	Emergency Message

	Note: Replace xxx with correct uuid before uncommenting
#}
{# {{ drupal_block('block_content:xxx') }} #}