<a href="{{ url }}" class="m-teaser" title="Open {{ node.title.value }}">

  {% if content.field_image|render %}
    <div class="m-teaser__thumb">
      {{ content.field_image}}
    </div>
  {% endif %}

  <div class="m-teaser__content">
    <h3>{{ node.title.value }}</h3>

    {% if content.body %}
      {{ content.body }}
    {% endif %}
  </div>

</a>
