{% include '@pippip/partials/molecules/banner.html.twig'  with {
	content : {
		image : content.field_image[0]['#item'].entity.fid.value,
		imagealt : content.field_image[0]['#item'].alt,
		title : node.title.value,
		summary : content.body,
		credit : content.field_image_credit,
		type : 'page'
	}
} %}

<div class="grid justify-center">
	<div class="col-11">

		<div class="grid justify-space-between">
			<div class="col-sm-7">

				{{ title_prefix }}
				<h1 class="has-curve">
					{{ node.title.value }}
				</h1>
				{{ title_suffix }}

				{% if content.body|render %}
					<div class="m-entity m-entity__body">
						{{ content.body}}
					</div>
				{% endif %}

				{% if content.field_content|render %}
					{{ content.field_content}}
				{% endif %}

			</div>

			<div class="col-sm-4 col-lg-3">
				{% if drupal_menu('main', 2)['#items'] %}
					<div class="o-sidebar">
						{% if nav_parent %}
							<h3>
								<a href="{{ drupal_url('node/' ~ nav_parent) }}" title="{{nav_parent_title}}" class="nav-parent">{{nav_parent_title}}</a>
							</h3>
						{% endif %}

						{{ drupal_menu('main', 2,2) }}
					</div>
				{% endif %}
			</div>
		</div>

		{% include '@pippip/partials/molecules/ymal.html.twig' %}

	</div>
</div>
