{% set class =  'o-teaser-' ~ mode %}

{% if content.field_image|render %}
	<a href="{{ url }}" class="{{ class }}__thumb o-teaser__thumb" title="Open {{ node.title.value }}">		
		{% set imageUri = node.field_image[0].entity.uri.value %}
		{% set imageAlt = content.field_image[0]['#item'].alt %}

		{% include '@pippip/partials/atoms/teaser-image.twig' with {image: imageUri, alt: imageAlt, mode: mode} %}
	</a>
{% endif %}

<div class="{{ class }}__content o-teaser__content">

	<h2>
		<a href="{{ url }}" title="Open {{ node.title.value }}">
			{{ node.title.value }}
		</a>
	</h2>

	{% if content.body|render %}
		{{ content.body}}
	{% endif %}

</div>

<div class="{{ class }}__buttons o-teaser__buttons">

	<a href="{{ url }}" class="a-btn" title="Open {{ node.title.value }}">Read more</a>

	{% if booking_link %}
		{% if not pastEvent %}
			{{ booking_link }}
		{% endif %}
	{% endif %}

</div>
